*{
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-box;
  background-color: black;
  width: 1024px;
  height: 300px;
  margin: 0 auto;
  z-index: 0;
  overflow: scroll;



  .img {
    background-repeat: no-repeat;
    width: 500px ;
    height: 250px;
    z-index: 2;
    margin: 20px;
    padding: 20px;




    &:first-child {
      background-image: url("../img/japan-2014616_640.jpg");
    }

    &:nth-child(2) {
      background-image: url("../img/japan-2014619_640.jpg");
    }

    &:nth-child(3) {
      background-image: url("../img/pagoda-8612554_640.jpg");
    }

    &:last-child {
      background-image: url("../img/rice-terraces-2389023_640.jpg");
    }
  }
}





