@mixin drawItem($shape, $color){
  background-color: $color;
  @if $shape == 'circle' {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }@else if($shape == 'rectangle') {
    width: 200px;
    height: 200px;
  }
}
.draw-container{
  @include drawItem('circle',red)
}