@use '../mixin/breakpoints';

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 15px;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*="col-"] {
      min-height: 1px;
      padding: 0 15px;
    }

    $columns: 12;
    $base-width: 100% / $columns;

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $base-width * $i;
      }
    }

    @include breakpoints.xs {
      @for $i from 1 through $columns {
        .col-xs-#{$i} {
          width: $base-width * $i;
        }
      }
    }

    @include breakpoints.sm {
      @for $i from 1 through $columns {
        .col-sm-#{$i} {
          width: $base-width * $i;
        }
      }
    }

    @include breakpoints.md {
      @for $i from 1 through $columns {
        .col-md-#{$i} {
          width: $base-width * $i;
        }
      }
    }

    @include breakpoints.lg {
      @for $i from 1 through $columns {
        .col-lg-#{$i} {
          width: $base-width * $i;
        }
      }
    }
    @include breakpoints.xl {
      @for $i from 1 through $columns {
        .col-xl-#{$i} {
          width: $base-width * $i;
        }
      }
    }

    @include breakpoints.hd {
      @for $i from 1 through $columns {
        .col-hd-#{$i} {
          width: $base-width * $i;
        }
      }
    }
  }
}

