
@mixin breakpoint {
  @media screen and (min-width: 600px) {
    @content;
  }
}

%box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 300px;
  font-family: sans-serif;
}

.container {
  @include breakpoint {
    display: flex;
  }

  .sidebar {
    @extend %box;
    background-color: #111;
    margin-bottom: 20px;

    @include breakpoint {
      margin-bottom: 0;
      flex-grow: 1;
    }
  }

  section {
    @extend  %box;
    background-color: #05465e;

    @include breakpoint {
      flex-grow: 4;
    }
  }
}