$primary-color: cornflowerblue;
$accent-color: tomato;
$main-width: 1000px;

.main-width {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;

  .menu {
    background-color: $primary-color;

    li {
      display: inline-block;
      padding-left: 20px;

      &:first-child {
        color: red;
      }
    }
  }

  .my-menu {
    li {
      &:first-child {
        color: orange;
      }

      &:last-child {
        color: green;
      }

      &:hover {
        color: red;
      }
    }
  }
}

header {
  border: 1px solid $accent-color;
}

footer {
  .menu {
    display: flex;
    li {
      &:hover {
        color: $accent-color;
      }

      &:last-child {
        margin: 0 0 0 auto;
      }
    }
  }
}