* {
  box-sizing: border-box;
}

@mixin query {
  @media screen and (min-width: 768px) {
    @content;
  }
}


.images {
  display: block;

  @include query{
    display: flex;
  }
}


.image {
  width: 100%;
  height: auto;

  @include query {
    width: 50%;
  }
}

.container-image {
  width: 100%;
  height: 500px;

  @include query {
    width: 50%;
  }

  .image-bg {
    width: 100%;
    height: 100%;
    background-image: url("../images/rabbit.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}