@import "../elements/header";
@import "../generic/reset";
@import "../elements/fonts";
@import "../vendor/jquery.ui";
@import "../elements/background-color";
@import "../elements/mixin";
@import "../elements/buttons";
.opening{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content{
    margin-top: 130px;
    text-align: center;
    @include xs{
      margin-top: 100px;
    }

  }
  &__header{
font-family: $font-raleway;
    font-size: 3.0625rem;
  }
  &__heading{
    margin-top: 20px;
    margin-bottom: 38px;
    @include xs{
      padding: 0 70px;
    }
  }
  &__image{
    width: 100%;
    height: auto;
    @include xs{
      width: 220%;
      transform: translateX(-28%);
    }
  }
}


