@mixin xs {
  @media screen and (max-width: 575px){
    @content;
  }
}


@mixin sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin hd {
  @media screen and (min-width: 1600px) {
    @content;
  }
}


//|Grid//
* {
  box-sizing: border-box;
}
.container {
  max-width: 1627px;
  max-height:1395px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
$columns: 12;
$base-width: 100% / 12;
[class*="col-"] {
  min-height: 1px;
}
$breakpoints: (
        xs: 'max-width: 575px',
        sm: 'min-width: 576px',
        md: 'min-width: 768px',
        lg: 'min-width: 992px',
        xl: 'min-width: 1200px',
        hd: 'min-width: 1600px'
);
@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i * $base-width;
    padding: 0 15px;
  }
}
@each $key, $value in $breakpoints {
  @for $i from 1 through 12 {
    .col-#{$key}-#{$i} {
      @media screen and (#{$value}) {
        width: $i * $base-width;
        padding: 0 15px;
      }
    }
  }
}
