.exercise2 {
  display: flex;
  padding: 100px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.red-button {
  padding: 20px 40px;
  color: crimson;
  border-radius: 40px;
  border: 0;
  margin: 10px;
  text-transform: uppercase;
  background: none;
  box-shadow: inset 0 0 0 3px crimson;
  cursor: pointer;
  transition: 0.5s;


}

.red-button:hover {
  transform: rotate(45deg);
}


.blue-button {
  padding: 20px 40px;
  background: dodgerblue;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.8s;
}

.blue-button:hover {
border-radius: 48%;
  color: yellowgreen;
  translate: 50% 50%;
}


.green-button {
  padding: 20px 40px;
  background: #2FEB73;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.green-button:hover {
transform: scale(1.5) skew(-25deg);
  transform-origin:20% 55% ;
  background-color: rgba(5, 10, 14, 48);

}