@use "sass:list";
@use "sass:map";

$my-list: red, green, blue;
$my-map: (
        test1: 1200px,
        hahaha: 800px,
        costujest: 400px
);

body {
  background-color: list.nth($my-list, 1);
  width: map.get($my-map, test1);
}

header {
  background-color: list.nth($my-list, 2);
  width: map.get($my-map, hahaha);
}

section {
  &.main-width {
    background-color: list.nth($my-list, 3);
    width: map.get($my-map, costujest);
  }
}