@use '../variables/colors';

.cards {
  .card {
    margin-bottom: 30px;

    img {
      border-radius: 8px 8px 0 0;
      width: 100%;
      height: auto;
    }

    &-body {
      margin-top: -5px;
      padding: 15px 10px;
      background-color: #fff;
      border-radius: 0 0 8px 8px;
      .title {
        font-weight: 700;
        margin: 0;
        color: colors.$title-color;
        font-size: 24px;
      }

      .subtitle {
        margin-bottom: 30px;
        margin-top: 5px;
      }

      .text {
        line-height: 1.4;
      }
    }
  }
}