@use '../variables/colors';
@use '../mixin/breakpoints';


* {
  box-sizing: border-box;
}
section{
  border:3px dashed red;
  position: absolute;
  width: 100%;
  .container{
    .col-12{
      margin: 55px;
    }
    }
  }
