@use '../variables/colors';
@use '../mixin/breakpoints';

.footer {
  h4 {
    font-size: 24px;
    color: colors.$title-color;
  }

  .link {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .social {
    display: flex;

    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: colors.$bg-base-color;
      background-color: colors.$text-color;
      border-radius: 4px;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .col-12 {
    &:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid colors.$text-color;

      @include breakpoints.md {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
      }
    }
  }

  .copyright {
    @include breakpoints.md {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        &:not(:last-child) {
          margin-right: 5px;
          padding-right: 5px;
          border-right: 1px solid colors.$text-color;
        }
      }
    }
  }
}

