@use '../variables/colors';

@mixin btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: 800;

  &-primary {
    background-color: colors.$btn-color;
    color: #fff;
  }

  &-secondary {
    background-color: #f1f1f1;
    color: colors.$title-color;
  }
}