@mixin box($float, $color) {
  width: 50%;
  height: 100px;
  background-color: $color;
  float: $float;
}

%clearfix {
  &::before {
    content: "";
    clear: both;
    display: block;
  }
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.test-mixin {
  @extend %clearfix;

  .left_box {
    @include box(left, #08a6e4)
  }

  .right_box {
    @include box(right, #00FA9A)
  }
}

%box {
  width: 600px;
  height: 200px;
  padding: 20px;
  border: 1px solid #000;
}

.container {
  .success {
    @extend %box;
    background-color: rgba(1, 253, 1, 0.51);
    border-color: green;
  }

  .error {
    @extend %box;
    background-color: rgba(255, 0, 51, 0.61);
    border-color: crimson;
  }

  .info {
    @extend %box;
    background-color: rgba(0, 154, 250, 0.49);
    border-color: lightskyblue;
  }
}
