body {
  margin: 0;
  padding: 0;
}

.board {
  height: 100vh;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: rgb(0, 0, 0) url(../images/board-bg.jpg) center bottom;

  .zombie {
    width: 200px;
    height: 312px;
    bottom: 100px;
    right: -200px;
    background: url('../images/walkingdead.png') left center;
    animation: play .8s steps(10) infinite, walk 20s infinite;
    position: absolute;
  }

  @keyframes play {
    100% { background-position: -2000px; }
  }

  @keyframes walk {
    to {
      right: 150vw;
    }
  }
}

