@use "sass:color";

* {
  box-sizing: border-box;
}

@mixin setTooltip($text: "Setup tooltip", $bg: #303030, $color: #eeeeee, $fs: 14px) {
  position: relative;
  width: fit-content;
  cursor: pointer;

  &::after {
    content: $text;
    background-color: $bg;
    color: $color;
    font-size: $fs;
    padding: 4px 8px;
    border-radius: 8px;
    position: absolute;
    display: none;
    top: -4px;
    left: 100%;
    line-break: unset;
    width: max-content;
    transform: translateX(10px);
  }

  &:hover::after {
    display: block;
  }
}

@for $i from 1 through 5 {
  li {
    &:nth-child(#{$i}) {
      @include setTooltip("Tooltip " + $i, color.mix(tomato, cornflowerblue, 20% * $i))
    }
  }
}